<nav>
  <div class="nav-wrapper">
    <a href="http://emc.com" class="logo" alt="brand logo"><img class="emc-logo" alt="emc-logo" src="/images/EMC-Tab-Special-Use-Top.png"></a>
  </div>
</nav>

<ng-view> </ng-view>